{% extends 'music/base.html' %}
{% block title %}{{ album.title }} - Details{% endblock %}

{% block body %}
    <img src="{{ album.logo }}" width="300px" height="300px">

    <h1>{{ album.title }}</h1>
    <h2>{{ album.artist }}</h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% for song in album.song_set.all %}
            <label for="{{ song.id }}">
                {{ song.title }}
            </label><br>
        {% endfor %}
{% endblock %}